.app__footer-form {
    width: 60%;
    flex-direction: column;
    margin: 1rem 2rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    
    div{
      width: 100%;
      justify-content: center;
      display: flex;
      margin: 0.75rem 0;
      border-radius: 10px;
      cursor: pointer;
      background-color: var(--primary-color);
      white-space: nowrap;
    
        transition: all 0.3s ease-in-out;
    
        input,
        textarea,
        select{
          width: 100%;
          padding: 0.95rem;
          border: none;
          border-radius: 7px;
          background-color: var(--primary-color);

          padding-left: 1.5rem;
    
          font-family: var(--font-base);
          color: var(--secondary-color);
          outline: none;
          
        }
    
        textarea{
          height: 170px;
        }
    
        &:hover{
          box-shadow: 0 0 25px var(--primary-color);
        }
      }
    
      button {
        padding: 1rem 2rem;
        border-radius: 10px;
        border: none;
        background-color: var(--secondary-color); 
        margin: 2rem 0 0 1;
        font-weight: 500;
        outline: none;
        cursor: pointer;
        transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
      
        &:hover {
          background-color: #2430af;
        }
      }
    }

    .button-container {
        background-color: transparent;
        display: flex;
        justify-content: center;
        width: 100%;
      }