.footer {
    background-color: #000;
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid white;
    
    .footer__content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      
      .footer__column {
        flex: 1;
        padding: 0 8rem;
        
        .footer__title {
          font-size: 1.25rem;
          margin-bottom: 0.5rem;
        }
  
        p {
          margin: 0.25rem 0;
        }
      }
    }
    
    .footer__bottom {
      width: 100%;
      border-top: 1px solid #444;
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .footer__links {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 1rem;
  
        a {
          color: #fff;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      
      .footer__legal {
        text-align: center;
        a {
          color: #fff;
          text-decoration: none;
          margin: 0 0.5rem;
          &:hover {
            text-decoration: underline;
          }
        }
  
        p {
          margin: 0.25rem 0;
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .footer {
      .footer__content {
        flex-direction: column;
        align-items: center;
      }
  
      .footer__column {
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
  
      .footer__links {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  